.line-error {
    background-color: #A12529;
}

/* .content is overwriting .nav, so fix it manually */
.nav {
    list-style-type: none !important;
}
.nav > li > a {
    text-decoration: none !important;
}