<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li>Cog IDL &copy; 2019 Brain Demons</li>
            <li class="zerostatic">Theme by <a href="https://www.zerostatic.io">zerostatic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>